.header{
    height: 95vh;
    /* background-image: rgba( #f7df817c ), url(../i);  */
    background-image: linear-gradient(to right bottom, rgba(60, 50, 50, 0.8),rgba(165, 165, 89, 0.8)), 
    url('../img/treesandpond.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0 , 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0 , 100% 75vh, 0 100%);

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
     } 
     
     &__logo{
        height: 3.5rem;
        clip-path: circle(45% at 50% 50%);
     
     }
     
     &__text-box{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-45%, -50%);
        text-align: center;
     }
    
 }
 
